.navbar {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    border-radius: 5px;
    border-width: 2px;
    word-spacing: 20px;
}

ul {
    list-style:  none;
}

ol {
    list-style: disc;
}

p {
    color: blue;
    font-weight: 24px;
    font-style: oblique ;
    transform: rotate(90deg);
    
}

.order-btn {
  position: relative;
  display: inline-block;
  padding: 12px 28px;
  font: 600 18px/1 system-ui, sans-serif;
  color: #fff;                    /* ডিফল্ট টেক্সট সাদা */
  background-color: #16a34a;      /* ডিফল্ট সবুজ ব্যাকগ্রাউন্ড */
  border: 2px solid #16a34a;      /* সবুজ বর্ডার */
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;               /* ওভারলে যেন বর্ডারের বাইরে না যায় */
  transition: color .35s ease;
  z-index: 0;                     /* স্ট্যাকিং কনটেক্সট */
}



/* হোভার ইফেক্ট */
.order-btn:hover {
  color: #16a34a;    
  transition: ease-out;             /* টেক্সট সবুজ */
}



